<h1>user details</h1>
<p>
    First name:
    <%= @user.first_name%> 
</p>
<p>
    Last name:
    <%= @user.last_name%> 
</p>
<p>
    Display name:
    <%= @user.display_name%> 
</p>
<p>
    Email:
    <%= @user.email%> 
</p>
